:host {
  display: block;
}

table#world-clock {
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

table#world-clock td {
  width: ;
  text-align: center;
  -webkit-text-stroke: 0.01em #000;
  font-size: 20pt;
  text-transform: lowercase;
}

.active {
  color: white;
}
